<main class="main__container">
    <section class="form__container">
        <img src="/assets/svg/logo.svg">
        <h2>{{title}}</h2>

        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryButton">{{primaryButtonText}}</button>
            <div class="separator">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{secondaryButtonText}}</button>
        </div>
    </section>

    <section class="secondary__container">
        <h1>You Should, MoveIt!</h1>
        <img src="/assets/svg/boy-illustration.svg" alt="A boy skateboarding">
    </section>
</main>
